.container{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.container img{
    width: 100%;
    height: auto;
}

.listElement{
    opacity: 1;
    width: 100%;
    background-color: rgb(33, 33, 84);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.258);
}

.listElement h1{
    margin: 0.5rem 1rem 0.5rem 1rem;
    font-size: 1rem;
    text-align: center;
    color: white;
}

.listElement:hover{
    opacity: 0.5;
    transform: scale(1.05);
}

@media only screen and (max-width: 320px) {
    .listElement h1{
        margin: 0.5rem 1rem 0.5rem 1rem;
        font-size: 0.75rem;
        text-align: center;
        color: white;
    }
  }