.layout{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.spinner{
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}
.description{
    top: 0;
    left: 0;
    padding-left: 1rem;
    font-size: clamp(1.75rem, 1.25rem + 1vh, 1.8rem);
    display: flex;
    flex-direction: column;
    max-width: 70%;
}

.description *{
    margin: 0;
}

.layout{
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
}

.description h1{
   font-size: clamp(2.25rem, 2rem + 2vh, 2.5rem);
}

.description h3{
    font-size: clamp(2rem, 1.5rem + 2vh, 2.25rem);
    line-height: 1.5;
 }

 .description p{
    font-size: clamp(1rem, 0.75rem + 1vh, 1.5rem);
    line-height: 1.5;
 }